body {
    margin:0;
}
h1 {
    font-size: 200%;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
}
a {
    color:black;
    text-decoration:none;
}
#grid ol {
    border-right:1px solid gray;
    width:100px;
    margin:0px;
    padding:20px;
    padding-left:32px;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#article {
    padding-left:24px;
}
@media (max-width:800px) {
    #grid ol {
        border-right: none;
    }
    #grid {
        display: block;
    }
    #article {
        padding-left:14px;
    }
    h1 {
        border-bottom:none;
    }
}